<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="css/homepage-style.css">
        <link type="image/gif" rel="icon" href="animated-favicon.gif">
        <title>{% block header %}{% endblock header %}</title>
    </head>
    <body>
        <div id="navbar">
            <a href="/">
                <div class="button">DOMOV</div>
            </a>
            <a href="/about">
                <div class="button">O MENI</div>
            </a>
            <a href="/projects">
                <div class="button">PROJEKTI</div>
            </a>
            <a href="/blog">
                <div class="button">MOJ BLOG</div>
            </a>
            <a href="/contact">
                <div class="button">KONTAKT</div>
            </a>
        </div>
        {% block main %}{% endblock main %}
    </body>
</html>